*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    color: white;
}

body {
    min-height: 100vh;
    background-image: url("background.webp");    
    background-color: #E0F7FA;
    padding: 4rem;
}

.keuze {
    background: rgba(128, 222, 234, 0.9);
    height: 10vh;    
    font-size: 2.5rem;
    padding: 1rem;
}

.button{
  background-color: #1976D2;
  border: none;
  color: white;
  padding: 1.2rem 3.2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  margin: 0.3rem 0.2rem;
  cursor: pointer;
}

#chart-container{   
    height: 75vh; 
    margin-top: 2rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    object-fit: cover;   
}

#message{
    font-size:large;    
    color: white;
    background: #BF360C;
}

